# This file is automatically managed by enkore
# DO NOT ADD ENTRIES HERE, THEY WILL BE REMOVED
/src/getTypeOfPath.ts
/src/getTypeOfPathSync.ts
/export/getTypeOfPathFactory.ts
/export/getTypeOfPath.ts
/export/getTypeOfPathTryFactory.ts
/export/getTypeOfPathTry.ts
/export/getTypeOfPathSyncFactory.ts
/export/getTypeOfPathSync.ts
/export/getTypeOfPathSyncTryFactory.ts
/export/getTypeOfPathSyncTry.ts
